.body {
    background-color: inherit;
    position: relative;

    height: 100% - 50px;
    min-height: 100%;

    margin: 0;
}

.page-control-tab {
    background-color: inherit;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    position: sticky;
    z-index: 499;
    top: 0;
    right: 0;
    width: fit-content;
    
    min-height: 25px;
    padding: 2px 12px 2px 12px;

    display: flex;
    align-items: center;
    justify-content: end;

    column-gap: 8px;
}

.page-control-element {
    display: flex;
    align-items: center;
    column-gap: 2px;
    padding: 2px 2px;
    margin: 2px 0 2px 0;

    cursor: pointer;
    user-select: none;

    border: 1px solid transparent;
    border-radius: 2px;
}

.page-control-element:hover {
    border-color: #333333;
}

.page-cards-list {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 16px;
}
