.modal {
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-height: 320px;
    min-width: 600px;
    height: 40%;
    width: 40%;

    background-color: rgb(244, 244, 244);
}

.overlay {
    z-index: 998;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(0.5px);
}

.title-block {
    height: 40px;
    min-height: 40px;
    max-height: 40px;
}

.body-block {
    font-size: 18px;
    height: calc(100% - 40px - 64px - 4px);
    padding: 4px 8px;
    white-space: pre-wrap;
    word-wrap: break-word;

    overflow-x: hidden;
}

.buttons-block {
    background-color: rgb(198, 198, 198);
    height: 64px;
    min-height: 64px;
    max-height: 64px;

    display: flex;
    flex-wrap: nowrap;
}
